{% extends 'base.html' %}
{% block content %}

<h1>Record Details</h1>




<div class="row">
  <div class="col s6">
    <div class="card">
  <div class="card-content">
    <span class="card-title">{{ record.title }}</span>
    <p>Artist: {{ record.artist }}</p>
    <p>Label: {{ record.label }}</p>
    <p>Year: {{ record.year }}</p>
    <p>Description: {{ record.description }}</p>
    <p>Posted By: {{ record.user }}</p>
  
  </div>
  <div class="card-action">
  <a href="{% url 'record_update' record.id %}">Edit</a>
  <a href="{% url 'record_delete' record.id %}">Delete</a>
  
</div>
</div>

<div class="card">
  <div class="card-content">
    <span class="tracks">Tracks</span>
    {% for track in tracks %}
      <p><span>{{ track.number }}.</span>{{ track.title }}</p>
    {% endfor %}
  </div>
</div>





</div>

</div>

<div class="row">
<div class="col s6">
  <div class="card">
<div class="card-content">
  <form action="{% url 'add_track' record.id %}" method="post">
    {% csrf_token %}
    {{ add_track_form.as_p }}
    <input type="submit" class="btn" value="Add Track">
  </form>
</div>
  </div>
</div>
 


<div class="col s6">
  <form action="{% url 'add_airplay' record.id %}" method="post">
    {% csrf_token %}
    {{ airplay_form.as_p }}
    <input type="submit" class="btn" value="Add Airplay Date">
  </form>
  <br>
  {% if record.played_today %}
    <div class="card-panel teal-text center-align">{{record.title}} is scheduled for airplay</div>
  {% else %}
    <div class="card-panel red-text center-align">{{record.title}} is not scheduled for airplay</div>
  {% endif %}
  <table class="striped">
    <thead>
      <tr><th>Date</th><th>Segment</th></tr>
    </thead>
    <tbody>
      {% for airplay in record.airplay_set.all %}
        <tr>
          <td>{{airplay.date}}</td>
          <td>{{airplay.get_segment_display}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<hr>

<section class="review-submission">
  <form action="{% url 'add_review' record.id %}" method="post">
      {% csrf_token %}
      {{ review_form.as_p }}
      <input type="submit" class="btn" value="Add Review">
    </form>
</section>

<div class="user-comment-group">
  <h5>User Reviews:</h5>
  {% for review in reviews %}
    {% if review.user.id == request.user.id %} 
    <div class="user-comment-id">
      <h6>{{ review.user}}<span>{{review.created_at}}</span></h6>
      <p>{{review.review}}</p>
    </div>
      <form method="POST" action="{% url 'review_delete' record.id review.id %}">
          {% csrf_token %}
          <button  id="comment-delete-btn" type="submit"><i class="material-icons">delete</i></button>
         </form>
      <a href="{% url 'review_edit' record.id review.id %}">edit</a>
    {% else %}
     <div class="user-comment-id">
      <h6>{{ review.user}}</h6>
      <p>{{review.review}}</p>
    {% endif %}

  {% endfor %}
    </div>



<div class="row">
  <div class="col s6">
    <h3>Genres</h3>
    {% if record.genres.count %}
      {% for genre in record.genres.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{ genre.genre }}</span>
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No genres added</h5>
    {% endif %}
  </div>
  <!-- Available genres will come after this line -->
  <div class="col s6">
    <h3>Add Genres</h3>
    {% if genres.count %}
      {% for genre in genres %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{ genre.genre }}</span>
            </span>
          </div>
          <div class="card-action">
            <form action="/records/{{ record.id }}/assoc_genre/{{ genre.id}}/" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{record.title}} Already Has All Genres Available</h5>
    {% endif %}
  </div>

</div>





<script>
  // create a datepicker
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  // initialize the meal select
  var selectEl = document.getElementById('id_segment');
  M.FormSelect.init(selectEl);
</script>


{% endblock %}


  
  