{% extends 'base.html' %}
{% block content %}

<div id='hero-container'>
  <div id='hero-row' class='row'>
   <div class="col s12 m8 l8 img-container">
    <div class="img-wrapper">
     <img src="https://imgur.com/FAvPVoj.jpeg">
     <h3 class="lrg-img-text">The place for all your record database needs</h3>
    </div> 
  </div>
  <div class="col s12 m4 l4 img-container">
   <div class="img-wrapper">
    <img class='image' src="https://imgur.com/zfUBI5M.jpeg">
    <!-- <h3 id="sm-img-text1">Catalogue your records</h3> -->
    <h5 class="lrg-img-text">Catalogue records</h5>
   </div>
  </div>
  <div class="col s12 m4 l4 img-container">
    <div class="img-wrapper">
      <img id="bottom-img" class='image' src="https://imgur.com/ur83wsB.jpeg">
      <!-- <h3 id="sm-img-text2">Browse records</h3> -->
      <h5 class="lrg-img-text">Browse records</h5>
   </div>
  </div>
  </div>
</div>

  
  
  {%  for record in records %}
  <div class="row">
  <div class="col s12 m6 s3">
  <div class="card">
      <!-- add this single line below -->
      <a href="/records/{{ record.id }}">
          <div class="card-content">
          <span class="card-title">{{ record.title }}</span>
          <p>Artist: {{ record.artist }}</p>
          <p>Year: {{ record.year }}</p>
          {% for photo in record.photo_set.all %}
          <p>Photo: {{ photo.url }}</p>
          {% endfor %}
  
      </div>
      <!-- and this following one as well -->
      
    </div>
    </div>
  </a>
  </div>

  
  <div class="row">
    <div class="col s12 m6 s3">
      <div class="card">
        <a href="/records/{{ record.id }}">
        <div class="card-image">
          {% for photo in record.photo_set.all %}
          <img src="{{photo.url}}">
          {% endfor %}
        </div>
        <span class="card-title">{{ record.title }}</span>
        <p>Artist: {{ record.artist }}</p>
          <p>Year: {{ record.year }}</p>
        <!-- <div class="card-action">
          <a href="/records/{{ record.id }}"></a>
        </div> -->
      </div>
    </div>
  </a>
  </div> 
  
  
  {% endfor %}
  
  
  {% endblock %}

