{% extends 'base.html' %}
{% block content %}

<div id='hero-container'>
  <div class='row'>
    
  <div class="col s12 m8 l8 img-container">
    <div class="img-wrapper">
  
  <img src="https://imgur.com/FAvPVoj.jpeg">

  <!-- <div id="lrg-img-text">  -->
    
    <h3 id="lrg-img-text">The place for all your record database needs</h3>
  </div> 
  </div>
  <div class="col s12 m4 l4 img-container">
    <img class='image' src="https://imgur.com/zfUBI5M.jpeg">
    <h3 id="sm-img-text1">Catalogue your records</h3>
    </div>
    <div class="col s12 m4 l4 img-container">
      <img id="bottom-img" class='image' src="https://imgur.com/ur83wsB.jpeg">
      <h3 id="sm-img-text2">Browse records</h3>
      </div>
    </div>
  </div>

  
  
  {%  for record in records %}
  <div class="row">
  <div class="col s12 m6">
  <div class="card">
      <!-- add this single line below -->
      <a href="/records/{{ record.id }}">
          <div class="card-content">
          <span class="card-title">{{ record.title }}</span>
          <p>Artist: {{ record.artist }}</p>
          <p>Year: {{ record.year }}</p>
  
      </div>
      <!-- and this following one as well -->
      
    </div>
    </div>
  </a>
  </div>
  
  {% endfor %}
  
  
  {% endblock %}

