

#bottom-img {
  margin-top: 1.275rem;
}

#hero-container {
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.lrg-img-text {
  position: absolute;
  color: white;
  bottom: 0px;
  left: 0px;
  margin: 0;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  max-height: 100%;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  height: 100%;
  display: block;
}

.row {
  margin-bottom: unset;
}

#hero-row {
    max-height: 100%;
}

.img-wrapper {
  position: relative;
}

@media screen and (max-width: 600px) {
  #bottom-img {
    margin: unset;
  }
}
